.speech{
    font-size: small;
    color: black;
    text-decoration: dashed;
    font-style: oblique;
}
.song{
    font-size: large;
    font-style: italic;
    color: black;
    text-decoration-color: antiquewhite;
}
.direction{
    font-size: small;
    font-style: normal;
    color: black;
    background-color: aquamarine;
}
.direction:hover{
    background-color: aqua;
    color: brown;
}
.name{
    font-size: medium;
    font-style: italic;
    color: crimson;
}
.name:hover{
    border-style: dashed;
    box-shadow: 10px 10px 7px red;
    filter:blur(0.4px);

}
.Gama{
    font-style: inherit;
    font-size: medium;
    color: blue;
    
}
.Princess{
    font-style: inherit;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    color: blueviolet;
}
.Chorus{
    font-style: oblique;
    font-size: smaller;
    color: bisque;
}
table,th,td{
    border: 2px solid;
    border-color:brown;
    padding:10px;
}
th{
    font-size: larger;
    font-style: oblique;
    font-variant-caps: all-petite-caps;
}
table{
    width: 70%;
    text-align:center;
    margin: 5%;   
}
tr:hover{
    background-color: cyan;
}
tr:nth-child(odd){
    background-color: burlywood;
}
.Ladies{
    font-style: inherit;
    color: chartreuse;
    font-size: smaller;
}
.Hilar{
    font-style: italic;
    color: fuchsia;
    font-size: medium;
}
.Soldiers{
    color: chocolate;
    font-size: x-large;
    font-style: oblique;
}

